.aioc-wrap {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    padding: 40px 0;
    margin-right: 20px;
    margin-top: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.aioc-wrap form.form{
    text-align: center;
}

.aioc-responsive-banner {
    display: inline-block;
    margin: 40px;
    width: 60%;
    max-width: 450px;
    min-width: 320px;
    position: relative;
    min-height: 250px;
    max-height: 400px;
    border-radius: 10px;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.aioc-responsive-banner.aioc-purple {
    background-image: linear-gradient(to bottom right, #D45BA1, #A784E0);
}

.aioc-responsive-banner.aioc-yellow {
    background-image: linear-gradient(to bottom right, #F4C28E, #E67163);
}

.aioc-responsive-banner.aioc-blue {
    background-image: linear-gradient(to bottom right, #589FE5, #74DAC4);
}

.aioc-container-envelope {
    max-width: calc(100%);
    padding: 15px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 220px;
    max-height: 450px;
}

.aioc-wrap-col-xs-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}
  
@media (min-width: 650px) {
    .aioc-wrap-col-xs-12 {
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
    }

    .aioc-container-envelope {
      max-width: calc(100% - 200px);
    }
}

.aioc-wrap .aioc-container-envelope p {
    clear: both;
    text-transform: none;
    text-rendering: optimizeLegibility;
    font-weight: 500;
    line-height: 1.15;
    font-size: 14px;
    word-wrap: break-word;
    margin: 1em 0 0.5em;
    margin: 0;
    padding: 0;
    padding-right: 40px;
    color: #fff;
    position: relative;
    margin-bottom: 20px;
}

.aioc-wrap svg, img {
    fill: rgba(0, 0, 0, 0.1);
    position: absolute;
}

.aioc-wrap img {
    max-width : 50%;
}

.aioc-cirle-a {
    bottom: -80px;
    left: -80px;
}

.aioc-cirle-b {
    top: -30px;
    right: 70%;
}

.aioc-cirle-c {
    top: -330px;
    right: -300px;
}

.aioc-cirle-d {
    top: 195px;
        right: 145px;
}

.aioc-wrap img {
    top: 0;
    right: 0;
}

.aioc-wrap html,
.aioc-wrap button, 
.aioc-wrap input, 
.aioc-wrap select, 
.aioc-wrap textarea {
    color: #39aadf;
}

.aioc-wrap h2.title {
    clear: both;
    text-align: center;
    text-transform: none;
    text-rendering: optimizeLegibility;
    font-weight: 500;
    line-height: 1.15;
    font-size: 20px;
    word-wrap: break-word;
    margin: 1em 0 0.5em;
    margin: 0;
    padding: 0;
    padding-right: 40px;
    color: #000;
    position: relative;
    margin-bottom: 20px;
}

.aioc-wrap .aioc-container-envelope h2 {
    color: #fff;
    text-align: left;
}

.aioc-toggle_wrap {
    align-items: stretch;
    justify-content: center;
    margin-top: 40px;
}

.aioc-toggle_item {
    padding: 15px;
    width: 90%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    background: white;
    margin-right: 10px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: background;
}

.aioc-toggle_item_is-active {
    background: #589FE5;
}

.aioc-toggle_item_is-active .aioc-toggle_label {
    color: white;
}

.aioc-toggle_label {
    cursor: pointer;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 30px;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    flex-shrink: 1;
}

.aioc-toggle_item_is-active .aioc-toggle_label_tick_tv::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='25'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23FFFFFF' stroke-width='2'%3E%3Cpath d='M27.6 16c.2 0 .4-.2.4-.4V1.4c0-.2-.2-.4-.4-.4H1.4c-.2 0-.4.2-.4.4v14.2c0 .2.2.4.4.4h26.2z'/%3E%3Cpath d='M10 19h8M2 24h25M11 8.8l3.4 2.8L19.6 5'/%3E%3C/g%3E%3C/svg%3E");
}

.aioc-toggle_label_tick_tv::before {
    width: 26px;
    height: 22px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='25'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23e50e0e' stroke-width='2'%3E%3Cpath d='M27.6 16c.2 0 .4-.2.4-.4V1.4c0-.2-.2-.4-.4-.4H1.4c-.2 0-.4.2-.4.4v14.2c0 .2.2.4.4.4h26.2z'/%3E%3Cpath d='M10 19h8M2 24h25M11 8.8l3.4 2.8L19.6 5'/%3E%3C/g%3E%3C/svg%3E");
}

.aioc-toggle_item_is-active .aioc-toggle_label_shield::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='bi bi-shield-check' width='16' height='16' fill='none' fill-rule='evenodd' stroke='%23FFFFFF'%3E%3Cpath d='M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z'/%3E%3Cpath d='M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
}

.aioc-toggle_label_shield::before {
    width: 22px;
    height: 22px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='bi bi-shield-x' width='16' height='16' fill='none' fill-rule='evenodd' stroke='%23e50e0e'%3E%3Cpath d='M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z'/%3E%3Cpath d='M6.146 5.146a.5.5 0 0 1 .708 0L8 6.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 7l1.147 1.146a.5.5 0 0 1-.708.708L8 7.707 6.854 8.854a.5.5 0 1 1-.708-.708L7.293 7 6.146 5.854a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}

.aioc-toggle_label::before {
    content: "";
    display: block;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 30px;
    transition: background 0.2s ease-in-out;
}

.aioc-wrap .input {
    display: inline-flex;
    align-items: center;
}
.aioc-toggle_input {
    flex-shrink: 0;
}

.aioc-input_toggle .aioc-input_toggle_source {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.aioc-input_toggle.aioc-input_toggle_theme_light .aioc-input_toggle_source:checked ~ .aioc-input_toggle_label {
    border: 2px solid white;
    background: white;
}
.aioc-input_toggle .aioc-input_toggle_source ~ .aioc-input_toggle_label {
    border: 2px solid #e50e0e;
    background: #e50e0e;
}
.aioc-input_toggle .aioc-input_toggle_label {
    width: 35px;
    height: 18px;
    box-sizing: border-box;
    position: relative;
    border-radius: 100px;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
    border: 2px solid #D0D0D0;
    background: #D0D0D0;
}
.aioc-input_toggle_label {
    cursor: pointer;
    flex-shrink: 0;
}

.aioc-input_toggle.aioc-input_toggle_theme_light .aioc-input_toggle_source:checked ~ .aioc-input_toggle_label::before {
    background: #589FE5;
}
.aioc-input_toggle .aioc-input_toggle_source:checked ~ .aioc-input_toggle_label::before {
    background: white;
}
.aioc-input_toggle .aioc-input_toggle_source:checked ~ .aioc-input_toggle_label::before {
    transform: translateX(calc(100% + 4px));
}
.aioc-input_toggle .aioc-input_toggle_label::before {
    content: "";
    position: absolute;
    top: calc(50% - 12px / 2);
    left: 2px;
    width: 12px;
    height: 12px;
    display: block;
    flex-shrink: 0;
    border-radius: 50%;
    background: white;
    transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.aioc-link-container {
    text-align: center;
}

.aioc-link-container input.button {
    background-color: #6351d5;
    border: none;
    color: white;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.aioc-link-container input.aioc-button{
    background-color: white; 
    color: black; 
    border: 2px solid #6351d5;
}

.aioc-link-container input.aioc-button:hover {
    background-color: #6351d5;
    color: white;
    border: 2px solid #6351d5;
}

.aioc-link-container input.aioc-button:focus {
    background-color: #6351d5;
    color: white;
    border: 2px solid #6351d5;
    box-shadow: none;
}